<div class="hero">
  <h1 class="">
    <%= @splash_articles.first.title %>
  </h1>
</div>
<main class="main">
  <section class="splash__first">

  </section>
  <section class="splash__second">
    <div class="content-wrap">
      <h3>this is a great product </h3>
    </div>
  </section>
</main>
